<configuration>
  <property name="consolePattern" value="%cyan(%date{yyyy-MM-dd HH:mm:ss:SSS} %.-1level{1} [%25.25thread] [%X{requestId}])
%yellow([%30.30logger{30}#%-20.20(%method:%line)]) %blue(%message%n)"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        ${consolePattern}
      </pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
